{# src/Apb/TypikaBundle/Resources/views/Default/index.html.twig #}
<!DOCTYPE html>
<html>
<head>
  <title>{{ titre }} - Typika - Université de Fribourg</title>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  <meta name="keywords" lang="fr" content="université, formation, suisse, fribourg, recherche, études" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('bundles/apbtypika/css/bootstrap.min.css') }}" type="text/css" media="all" />

  <link href="{{ asset('bundles/apbtypika/css/unifr.101.css') }}" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="{{ asset('bundles/apbtypika/css/jquery-ui-1.7.1.custom.css') }}" type="text/css" />
  <!-- Add fancyBox -->
  <link rel="stylesheet" href="{{ asset('bundles/apbtypika/js/fancybox/jquery.fancybox.css') }}" type="text/css" media="screen" />
  <link rel="stylesheet" href="{{ asset('bundles/apbtypika/js/fancybox/helpers/jquery.fancybox-buttons.css') }}" type="text/css" media="screen" />
  <!-- Add jcarousel -->
  <link rel="stylesheet" href="{{ asset('bundles/apbtypika/css/skin.css') }}" type="text/css" media="screen" />
  <link rel="stylesheet" href="{{ asset('bundles/apbtypika/css/style.css') }}" type="text/css" media="screen" />
{% endblock %}

  <style>
  .main {background-image: url("http://unifr.ch/images/background_main.gif"); background-repeat: repeat-y;}
  @media (max-width: 767px) {
    .main {background-image: none;}
  }
  .navbar-inner {
    background-color: #006699;
    background-image: none;
    background-repeat: repeat-x;
    border: 0px solid #D4D4D4;
    border-radius: 0;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
    min-height: 0px;
    padding-left: 20px;
    padding-right: 20px;
    color: #FFFFFF;
    filter: none;
  }
  .navbar a {
    color: #FFFFFF;
  }
  .navbar .nav > li > a, .navbar .nav > li > a:hover {
    color: #FFFFFF;
    text-shadow: 0 0px 0 #FFFFFF;
    border: 0 1px 0 1px solid #FFFFFF;
    padding: 5px;
    text-transform: uppercase;
  }

  .navbar .nav > li > a:hover {
    color: #006699;
  }

  .navbar .brand {
    color: #FFFFFF;
    display: block;
    float: left;
    font-size: 20px;
    font-weight: 200;
    margin-left: -10px;
    padding: 5px 10px;
    text-shadow: 0 0px 0 #FFFFFF;
    text-decoration: none;
    width: 170px;
  }
  body > .container {
    border-color: #FFFFFF #CCCCCC #CCCCCC;
    border-style: solid;
    border-width: 1px;
  }
  .box001 {
    margin-left: -10px;
  }
  .annexes {
    float: left;
    width: 30%;
  }
  .clear {
    clear: both;
  }
  .option_upper {
     text-transform:uppercase;
  }
  nav a, nav span { margin: 5px;}
  a.btn {
    text-decoration: none;
  }
  .boite {
    border-bottom: 3px dotted #E4E6E6;
    border-left: 3px dotted #E4E6E6;
    border-right: 3px dotted #E4E6E6;
    padding: 15px;
  }
  </style>

  {% block javascripts %}
  <script type="text/javascript" src="{{ asset('bundles/apbtypika/js/jquery-1.8.3.min.js') }}">
  </script>

  <script type="text/javascript" src="{{ asset('bundles/apbtypika/js/jquery-ui-1.7.1.custom.min.js') }}">
  </script>
  <!-- Add fancyBox -->
  <script type="text/javascript" src="{{ asset('bundles/apbtypika/js/fancybox/jquery.fancybox.pack.js') }}">
  </script>
  <script type="text/javascript" src="{{ asset('bundles/apbtypika/js/fancybox/helpers/jquery.fancybox-buttons.js') }}">
  </script>
  <script type="text/javascript" src="{{ asset('bundles/apbtypika/js/fancybox/helpers/jquery.fancybox-media.js') }}">
  </script>
  <script type="text/javascript" src="{{ asset('bundles/apbtypika/js/jquery.jcarousel.min.js') }}">
  </script>
  <script src="{{ asset('bundles/apbtypika/js/bootstrap.min.js') }}" type="text/javascript">
  </script>
  {% endblock %}
</head>

<body>

  <div class="container main" style="text-align: left;">
    <div id="webpage2">
      <!-- start:identite -->
        <div id="identity" class="visible-desktop">
            <div class="bandeau">
                <a href="http://lettres.unifr.ch"><img class="bandeau-faculty" border="0" src="{{ asset('bundles/apbbase/images/UNIFR_lettres.png') }}" alt="Université de Fribourg | Universität Freiburg"></a>
                <div id="address2">
                    <div class="txt">
                        <a href="{{ path('apb_base_default_index') }}">Archéologie Paléochrétienne et Byzantine</a>
                    </div>
                </div>
            </div>
        </div>

      <div class="hidden-desktop">
        <img src="{{ asset('bundles/apbbase/images/bandeau_unifr_universite.jpg') }}" alt="UniFR Logo" />
      </div>
      <!-- end:identite -->

      <!-- start:navig 2 -->
      <div class="navbar">
        <div class="navbar-inner">
          <div class="container">

            <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar">
              </span>
              <span class="icon-bar">
              </span>
              <span class="icon-bar">
              </span>
            </a>

            <!-- Be sure to leave the brand out there if you want it shown -->
            <a class="brand" href="{{ path('apb_typika_default_index') }}">Typika</a>

            <!-- Everything you want hidden at 940px or less, place within here -->
            <div class="nav-collapse collapse">
              <!-- .nav, .navbar-search, .navbar-form, etc -->
              <ul class="nav">

                <li>
                  <a href="{{ path('apb_typika_default_index') }}">Home</a>
                </li>
                <li>
                  <a href="{{ path('apb_typika_default_search') }}">Search</a>
                </li>
                <li>
                  <a href="{{ path('apb_typika_default_faq') }}">Help</a>
                </li>
                <li>
                  <a href="{{ path('apb_typika_default_index_1', {'id' : 2}) }}">About</a>
                </li>
                <li>
                  <a href="{{ path('sonata_admin_dashboard') }}">Admin</a>
                </li>
              </ul>
              <ul class="nav pull-right">
                <li>
                  <a href="http://unifr.ch">Unifr</a>
                </li>
                <li>
                  <a href="http://nte.unifr.ch">Centre NTE</a>
                </li>
              </ul>
            </div>

          </div>
        </div>
      </div>
      <!-- end:navig 2 -->

      <div class="container-fluid">
        <div class="row-fluid">
          <div class="span3 hidden-phone">
            <!-- box menu2 -->
            {% block typika_sideblock %}
            <!-- box blog -->
            <div class="box001">
              <h2>Byzantine ressources</h2>
              <div class="box001_content">
                <img src="{{ asset('bundles/apbbase/images/arrow.gif') }}" border="0" /> <a href="{{ path('apb_base_default_index') }}">Go to portal</a>
              </div>
            </div>
            <!-- end:box blog -->
            <!-- box blog -->
            <div class="box001">
              <h2>Document</h2>
              <div class="box001_content">
                <img src="{{ asset('bundles/apbbase/images/arrow.gif') }}" border="0" /> <a href="{{ asset('bundles/apbtypika/pdf/howto.pdf') }}">How to use</a>
              </div>
            </div>
            <!-- end:box blog -->
            <!-- box blog -->
            <div class="box001">
              <h2>Contact</h2>
              <div class="box001_content">
                <img src="{{ asset('bundles/apbbase/images/arrow.gif') }}" border="0" /> <a href="mailto:typika@unifr.ch">typika@unifr.ch</a>
              </div>
            </div>
            <!-- end:box blog -->
            <!-- box blog -->
            <div class="box001">
              <h2>Bibliography</h2>
              <div class="box001_content">
                <img src="{{ asset('bundles/apbbase/images/arrow.gif') }}" border="0" /> <a href="{{ path('apb_typika_default_bibliographies') }}">Consult the bibliography</a>
              </div>
            </div>
            <!-- end:box blog -->
            {% endblock %}
          </div>

          <!-- end:colonneLeft -->
          <div class="span9">
            <ul style="margin-right: 10px;">
              <!-- start:colonneRight -->
              <div id="content2">
                {% block typika_content %}
                {% if page is defined and page != null %}
                <div align="center">
                  <h1>{{ page.title }}</h1>
                </div>

                <p><strong>
                    {{ page.introduction|raw }}
                </strong></p>

                <p>
                    {{ page.text|raw }}
                </p>
                {% endif %}

                {% if news is defined and news != null and page.id == 1 %}
                        <hr />
                        <h3>Last Updates</h3>
                        <ul>
                        {% for n in news %}
                                    <h3>{{ n.date|date("d.m.Y") }}</h3>
                                    <strong><a href="{{ path('apb_typika_default_actualite', {'id' : n.id}) }}">{{ n.title }}</a></strong>
                                    {{ n.introduction|raw }}
                        {% endfor %}
                        </ul>
                <div align="right"><a href="{{ path('apb_typika_default_archives') }}">previous updates</a></div>
                {% endif %}

                {% endblock %}
                <!-- end:colonneRight -->
              </ul>
            </div>

            <div class="span3 visible-phone">
              <div class="well" align="center">
                <!-- box menu2 -->
                {% block typika_sideblock2 %}
                <!-- box blog -->
                <div class="box001">
                  <h2>Byzantine ressources</h2>
                  <div class="box001_content">
                    <img src="{{ asset('bundles/apbbase/images/arrow.gif') }}" border="0" /> <a href="{{ path('apb_base_default_index') }}">Go to portal</a>
                  </div>
                </div>
                <!-- end:box blog -->
                <!-- box blog -->
                <div class="box001">
                  <h2>Document</h2>
                  <div class="box001_content">
                    <img src="{{ asset('bundles/apbbase/images/arrow.gif') }}" border="0" /> <a href="{{ asset('bundles/apbtypika/pdf/howto.pdf') }}">How to use</a>
                  </div>
                </div>
                <!-- end:box blog -->
                <!-- box blog -->
                <div class="box001">
                  <h2>Contact</h2>
                  <div class="box001_content">
                    <img src="{{ asset('bundles/apbbase/images/arrow.gif') }}" border="0" /> <a href="mailto:typika@unifr.ch">typika@unifr.ch</a>
                  </div>
                </div>
                <!-- end:box blog -->
                <!-- box blog -->
                <div class="box001">
                  <h2>Bibliography</h2>
                  <div class="box001_content">
                    <img src="{{ asset('bundles/apbbase/images/arrow.gif') }}" border="0" /> <a href="{{ path('apb_typika_default_bibliographies') }}">Consult the bibliography</a>
                  </div>
                </div>
                <!-- end:box blog -->
                {% endblock %}
              </div>
            </div>
          </div>

        </div>
        <!-- end:main -->

        <!-- start:signature -->
        <div id="signature">
          Archéologie paléochrétienne et byzantine &amp; <a href="http://www.unifr.ch/nte/">Centre NTE</a> - Université de Fribourg - Suisse
        </div>
        <!-- end:signature -->

      </div>
    </div>
  </body>
  </html>
