{# src/Monuments/FichesBundle/Resources/views/Default/fiche.html.twig #}

{% extends "ApbMonumentsBundle:Default:index.html.twig" %}

{% block monuments_content %}
<table border="0">
    <tr>
      <td>
        <!-- fiche personnelle -->

        <h1>Fiche d&eacute;taill&eacute;e</h1>
        <br>
    </td>
</tr>
</table>

{% if is_granted("IS_AUTHENTICATED_FULLY") %}
    <center><strong>{{ app.user.username }}</strong>: <a href="{{ path('admin_apb_monuments_monument_edit', {'id': monument.id}) }}" target="_blank">Editer la fiche </a><br /><br /></center>
{% endif %}

<table cellspacing="3" cellpadding="3" border="0">
    <tr>
        <td width="30%" align="left">
            <strong>Section</strong>
        </td>
        <td>
            {{ monument.section.name }}
        </td>
    </tr>
    <tr>
        <td>
            <strong>Chapitre</strong>
        </td>
        <td>
            {{ monument.chapitre.name }}
        </td>
    </tr>
    <tr>
        <td>
            <strong>Cat&eacute;gorie</strong>
        </td>
        <td>
            {{ monument.categorie.name }}
        </td>
    </tr>
    <tr>
        <td>
            <strong>Pays, Région</strong>
        </td>
        <td>
            {{ monument.pays.name }}
        </td>
    </tr>
    <tr>
        <td>
            <strong>Lieu, Ville</strong>
        </td>
        <td>
            {{ monument.lieu.name }}
        </td>
    </tr>
    <tr>
        <td>
            <strong>Iconographie</strong>
        </td>
        <td>
            {{ monument.iconographie.name }}
        </td>
    </tr>
    <tr>
        <td>
            <strong>Monuments</strong>
        </td>
        <td>
            {{ monument.monuments.name }}
        </td>
    </tr>
    <tr>
        <td>
            <strong>Siècle</strong>
        </td>
        <td>
            {{ monument.siecle }}
        </td>
    </tr>
    <tr>
        <td>
            <strong>Date</strong>
        </td>
        <td>
            {{ monument.date }}
        </td>
    </tr>
    <tr valign="top">
        <td>
            <strong>Notices</strong>
        </td>
        <td>
            <div align="justify">{{ monument.notices }}</div>
        </td>
    </tr>
</table>
<br />
{% for image in monument.images %}
<a target="_blank" href="{% path image.media, 'original' %}" style="text-decoration:none;">
    {% media image.media, 'small' %}
</a> &nbsp;
{% endfor %}

{% if app.session.get('monument_search_request') %}
<p><br /><a href="{{ path('apb_monuments_default_search', {'res': 'res'}) }}" class="btn-secondary btn">Retour aux résultats</a></p>
{% endif %}

{% endblock %}
